.page {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  min-height: 100dvh;
  margin-inline: auto;
}

.contentArea {
  position: relative;
  min-height: calc(100dvh - 80px);
}